# ignore node modulesnode_modules/# ignore dist folder, require build for deploydist/# ignore bower componentsbower_components/# ignore these dot files.tmp/.sass-cache/.idea/.sonar/.env